.slide-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    width: 160px;
    overflow-y: auto;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
}

.slide-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

.slide-list-item {
    flex: 0 0 auto;
    width: 150px;
    height: 100px;
    background-color: #f5f5f5;
    border: 2px solid #ccc;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.slide-list-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}
